body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.display {
    background-color: #eee;
    border: 7px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    min-height: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.operator {
    background-color: #5cb85c;
    color: #fff;
    font-size: 25px;
    position: relative;
}

.operator.star {
    display: grid;
    place-items: center;
}

.operator.star span {
    margin-top: 7px;
}

.number {
    background-color: #337ab7;
    color: #fff;
}

.clear {
    background-color: #ff6666;
    color: #fff;
}

.equal {
    background-color: #ffcc66;
    color: #333;
}

button:hover {
    background-color: #235273;
}
